.cart-card {
  padding-top: 30px;
}

.row-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rows-text {
  padding-top: 10px;
}

.cart-card p {
  text-align: center;
  margin: 0;
  padding-bottom: 5px;
  font-size: 15px;
}

.cart-price {
  font-weight: bold;
}